<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login | Choice Supermarket</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body class="login-body">

<div class="login-overlay"></div>

<div class="login-card">
  <h2>Login</h2>

  <form method="POST">
    <div class="input-group">
      <input type="text" name="email" required>
      <label>Email</label>
    </div>

    <div class="input-group">
      <input type="password" name="password" required>
      <label>Password</label>
    </div>

    <button type="submit" class="login-btn">LOGIN</button>

    <p class="login-hint">
      Demo accounts: <br>
      user / user <br>
      admin / admin
    </p>
  </form>
</div>

</body>
</html>
